COMPOSIO_API_KEY=
OPENAI_API_KEY=
USER_NAME=Your Name
SLACK_CHANNEL=#general

COMPOSIO_USER_ID=
SPREADSHEET_ID=
SHEET_NAME=Sheet1
SHEETS_CONNECTED_ACCOUNT_ID=
DRIVE_CONNECTED_ACCOUNT_ID=
GMAIL_CONNECTED_ACCOUNT_ID=
SLACK_CONNECTED_ACCOUNT_ID=
